<% @page_title = plural_name.titlecase %>
<% join_char = request.fullpath.index('?') ? "&" : "?"%>

<%= content_for :page_actions do %>
  <%= link_to 'Export to CSV <span class="icon-table"></span>'.html_safe, request.fullpath + join_char + "format=csv", :class => "button blank sm" %>
  <%= link_to 'Create New <span class="icon-plus-sign"></span>'.html_safe, new_path, :class => "button secondary sm" %>
<% end %>

<% content_for :search_module do %>
    <%= form_tag index_path,
      :id => "model-search-form",
      :remote => true,
      'data-auto-submit' => true,
      'data-loading-animation' => "#model-table",
      :method => :get do %>
        <input type="text" name="search" class="input-medium search-query" placeholder="Search <%= plural_name.titlecase %>" value=<%= params[:search] %>></input>
    <% end %>
<% end %>

<div id="model-table-loading" class="loading-animation" style="display:none">
  <%= render :partial => "loading" %>
</div>

<div id="model-table">
  <%= render custom_partial("model_table") %>
</div>
